* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

.layout_grid {
  width: 100%;
  height: 100%;
  max-width: 80%;
  margin: 0 auto;
}

.conteudoPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.areaTrabalho {
  width: 80%;
  margin-left: 20%;
  padding-left: 8%;
  padding-right: 8%;
  margin-bottom: 4%;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
}

.cabecalhoArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}