.cabecalho {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
}

.infCabecalho {
    display: flex;
    align-items: center;
}

.setaImg {
    height: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20%;
    transition: 0.2s;
}

.setaImg:hover {
    transform: scale(1.1);
}