.header {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 80%;
  margin-top: 4%;
  margin-left: 20%;
  margin-right: 20%;
}

.seta {
  width: 34px;
  height: 34px;
}

.usuario {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #7a1a1a;
  font-weight: 500;
}

.titulo {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #0a1a3f;
  margin-bottom: 5%;
}