.menuLateral {
    width: 20%;
    height: 100%;
    background: linear-gradient(135deg, #0d0d0d, #001f3f, #0a2a6c);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    padding-bottom: 2%;
    padding-top: 2%;
}

.logoMenu {
    width: 105px;
    height: 105px;
}

.linksLateral {
    display: flex;
    flex-direction: column;
}

.links {
    font-size: 17px;
    text-decoration: none;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.links:hover {
    background-color: #d9d9d927;
}

.linksLateral img {
    height: auto;
    width: 46px;
    margin-right: 16px;
}

.logout {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 17px;
    border-radius: 10px;
    padding: 2%;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.logout:hover {
    background-color: #d9d9d927;
}