.btnArea {
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    padding: 8px 32px;
    font-weight: 600;
    font-size: 1rem;
    cursor: default;
}

.usuarioArea {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    color: #7a2323;
    font-size: 1rem;
}

.statusDocumentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 16px;
}

.statusCard {
    background-color: aliceblue;
    border-radius: 16px;
    padding: 24px 32px;
    min-width: 232px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: start;
}

.statusNum {
    font-size: 2.5rem;
    font-weight: 700;
    color: #222;
}

.statusLabel {
    font-size: 1rem;
    color: #222;
    margin-top: 8px;
}

.proximasEntregas {
    background-color: aliceblue;
    border-radius: 18px;
    padding: 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.proximasEntregas h3 {
    font-size: 1rem;
    font-weight: 600;
    color: #222;
    margin-bottom: 12px;
    text-align: left;
}

.entregaCard {
    display: flex;
    align-items: center;
    gap: 24px;
    border-radius: 16px;
    padding: 12px 24px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 8px;
}

.entregaVermelho {
    background: #6a0d0d;
}

.entregaMarrom {
    background: #bda7a7;
    color: #222;
}

.entregaBege {
    background: #d1c1b7;
    color: #222;
}

.entregaNum {
    font-size: 2rem;
    font-weight: 700;
    min-width: 40px;
}

.entregaLabel {
    font-size: 1rem;
    font-weight: 400;
}

.documentosActions {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-top: 1%;
}

.docAction {
    background-color: aliceblue;
    width: 50%;
    border-radius: 20px;
    padding: 2%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

    display: flex;
    align-items: center;
    justify-content: space-around;
}


.docAction h4 {
    font-size: 1rem;
    font-weight: 600;
    color: #222;
    margin-bottom: 8px;
}

.iconAnexar,
.iconDigitalizar {
    background: #142850;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 8px 18px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 8px;
    width: 100%;
}

.iconAnexar,
.iconDigitalizar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.iconUpload {
    width: 30px;
    height: 20px;
}

.divAnexar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arquivoInput {
    display: none;
    cursor: default;
}

.arquivoLabel {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 230px;
    background: #142850;
    color: white;
    margin-bottom: 5%;
    cursor: pointer;
}

.arquivoLabel img {
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.divEscanear {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputArquivo {
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background: #142850;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 5%;
}

.inputArquivo::placeholder {
    color: #fff;
    opacity: 0.7;
}

.botaoEnviarDoc {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    background-color: #5F0A00;
    color: white;
    transition: 0.2s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.botaoEnviarDoc:hover {
     transform: scale(1.05);
}