.mainLogin {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #0d0d0d, #001f3f, #0a2a6c);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.userTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userTitulo img {
    width: 191px;
    height: 123px;
}

.campoLogin {
    width: 480px;
    height: 650px;
    border-radius: 20px;
    padding: 40px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.campoInput {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inputLogin {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.inputLogin input {
    width: 400px;
    height: 41px;
    padding: 15px 5px 5px 5px;
    font-size: 18px;
    outline: none;

    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}

.grupoEmail,
.grupoSenha {
    position: relative;
}

.grupoEmail label {
    position: absolute;
    left: 5px;
    top: -5px;
    transition: 0.5s;
    color: #9D9D9D;
}

.grupoEmail input:focus~label {
    top: -20px;
    font-size: 14px;
    color: #0a2a6c;
}

.grupoEmail input:focus {
    border-width: 2px;
    border-bottom-color: #0a2a6c;
}

.grupoSenha input:focus {
    border-bottom-color: #0a2a6c;
}

.grupoSenha label {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    left: 5px;
    top: -5px;
    transition: 0.5s;
    color: #9D9D9D;
}

.grupoSenha button {
    background-color: transparent;
}

.grupoSenha input:focus~label {
    top: -20px;
    font-size: 14px;
    color: #0a2a6c;
    border-bottom: #0a2a6c;
}

.inputCheckbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.inputCheckbox input {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.areaSenhaLogin {
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
}

.areaSenhaLogin button {
    background-color: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}